<!doctype html>
<html ng-app="quests_app">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Test page</title>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0-beta.3/angular-route.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="MainCtrl">
        
        <div class="main-header">
            <div class="left col-xs-12 col-sm-12 col-md-8">
                <a href="/nasa-space-app/#/">
                    <div class="main-header-logo"><img src="images/planetlab-logo.png"></div>
                    <h1><span class="light">Planet</span> Lab</h1>
                </a>
            </div>
            <div class="right col-xs-12 col-sm-12 col-md-4">
                <div class="settings">
                    <a href="#">
                        <div class="icon"><img src="images/settings-icon.png"></div>
                        <span class="menu-item-text">Settings</span>
                    </a>
                </div>
                <div class="sign-out">
                    <a href="#">
                        <div class="icon"><img src="images/logout-icon.png"></div>
                        <span class="menu-item-text">Sign Out</span>
                    </a>
                </div>
                <div class="help">
                    <a href="#">
                        <div class="icon"><img src="images/help-icon.png"></div>
                        <span class="menu-item-text">Help</span>
                    </a>
                </div>
            </div>
        </div>

        <div ng-switch on="isLoggedIn">
            <div ng-switch-when="true" class="content-header row">
                <div class="row">
                    <div class="logged-in-left col-xs-12 col-sm-12 col-md-2">
                        <div class="user-icon">
                            <a href="#"><img src="images/user-icon.png"></a>
                        </div>
                        <div class="username">
                            <h1>Latora</h1>
                        </div>
                    </div>
                    <div class="middle col-xs-12 col-sm-12 col-md-7">
                        <ul class="main-nav">
                            <li><a href="#"><img src="images/icon-1.png"></a></li>
                            <li><a href="#"><img src="images/icon-2.png"></a></li>
                            <li><a href="#"><img src="images/icon-3.png"></a></li>
                            <li><a href="#"><img src="images/icon-4.png"></a></li>
                            <li><a href="#"><img src="images/icon-5.png"></a></li>
                        </ul>
                    </div>
                    <div class="right col-xs-12 col-sm-12 col-md-3">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search" ng-model="searchTerm">
                            <div class="submit-search"><a href="/nasa-space-app/#/search?{{searchTerm}}"><img src="images/search-icon.png"></a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="left-bottom col-xs-12 col-sm-12 col-md-3"></div>
                </div>
            </div>

            <div ng-switch-when="false" class="content-header">
                <div class="row">
                    <div class="logged-out-left col-xs-12 col-sm-12 col-md-9">
                        <div class="row">
                            <form class="form-inline col-md-5 col-md-offset-1" role="form">
                              <div class="form-group">
                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                              </div>
                              <div class="form-group">
                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
                              </div>
                            </form>
                            <p class="forgot-password col-md-2"><a href="#">Forgot password?</a></p>
                        </div>

                        <div class="row">
                            <button type="submit" class="btn col-xs-10 col-sm-8 col-md-1 col-xs-offset-1 col-sm-offset-2 col-md-offset-1">Enter</button>
                        </div>
                    </div>
                    <div class="right col-xs-12 col-sm-12 col-md-3">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search" ng-model="searchTerm">
                            <div class="submit-search"><a href="/nasa-space-app/#/search?{{searchTerm}}"><img src="images/search-icon.png"></a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="left-bottom col-xs-12 col-sm-12 col-md-3"></div>
                </div>
            </div>
        </div>

        <div ng-view></div>

        <!-- SCRIPTS -->
        <!-- Main Script -->
        <script src="js/includes/mixitup.js"></script>
        <script src="js/main.js"></script>
        <script src="js/quests_app.js"></script>

        <!-- Services -->
        <script src="js/services/quests_api.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/MainCtrl.js"></script>
        <script src="js/controllers/QuestPageCtrl.js"></script>
        <script src="js/controllers/StructuredSearchCtrl.js"></script>
    </body>
</html>